<section class="m-6 flex justify-center items-center w-screen" >
    <div class="flex flex-col justify-center items-start w-fit">
        <h1 class="text-2xl mb-3 ml-1 font-bold">Reset Password</h1>
        <div class="card flex bg-gray-100 p-4 rounded-2xl">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">
                <div class="flex flex-col w-200 gap-1">
                    <input pInputText type="email" id="email" placeholder="Email" formControlName="email" [invalid]="isInvalid('email')" />
                    @if (isInvalid('email')) {
                        @if (resetPasswordForm.get('email')?.errors?.['required']) {
                            <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                        }
                        @if (resetPasswordForm.get('email')?.errors?.['email']) {
                            <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                        }
                    }
                </div>
                <div class="flex flex-col w-200 gap-1">
                    <input pInputText type="password" id="password" placeholder="New Password" formControlName="password" [invalid]="isInvalid('password')" />
                    @if (isInvalid('password')) {
                        @if (resetPasswordForm.get('password')?.errors?.['required']) {
                            <p-message severity="error" size="small" variant="simple">New Password is required.</p-message>
                        }
                        @if (resetPasswordForm.get('password')?.errors?.['pattern']) {
                            <p-message severity="error" size="small" variant="simple">Password must be at least 8 characters.</p-message>
                        }
                    }
                </div>
                <button pButton severity="secondary" class="w-200 bg-gray-400 hover:bg-gray-500 text-white" type="submit" [disabled]="resetPasswordForm.invalid"><span pButtonLabel>Submit</span></button>
            </form>
        </div>
    </div>
</section>
